
@using FypEvaluationSystem.Models
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Status> status = ViewBag.Status;

    int accepted = 0;
    int rejected = 0;
    int acceptedWithChanges = 0;
    int pending = 0;

    foreach(var elem in status)
    {
        if (elem.status.Equals("Accepted"))
        {
            accepted = elem.count;
        }
        else if (elem.status.Equals("Rejected"))
        {
            rejected = elem.count;
        }
        else if(elem.status.Equals("Accepted With Changes"))
        {
            acceptedWithChanges = elem.count;
        }
        else
        {
            pending++;
        }
    }
}


    <h2>Statistics</h2>
<div class="text-center" id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Status', 'No of students'],
  ['Accepted', @accepted],
  ['Rejected', @rejected],
  ['Accepted with Changes', @acceptedWithChanges],
  ['pending', @pending]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Student\'s FYP status', 'width':1000, 'height':500};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>